/* main body styles*/
body {
    margin: 0px 0px 40px 0px;
    color: black;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
/*links behavoir inc. social icons*/
a:link {
    text-decoration: underline;
    color: red;
}
a:hover {
    text-decoration: none;
    text-shadow: 2px 2px blue;
}
a:visited {
    color: red;
}
a:visited:hover {
    color: red;
}

a.socials:hover {
    background-color: #00AAA9;
    color: white;
}

.socials {
    text-align: center;
    position: center;
    padding: -20px 20px -20px 20px;
    width: 200px;
    border-radius: 50px;
}
/*nav stuff*/
.inner_head {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

/*Header positioning of logo and title*/
#logoimg {
    background-image: url(images/MyGlassesLogo1.jpg);
    position: center;
    background-size: 600px;
    width: 600px;
    height: 300px;
    padding: -50px;
}
  #logoimg:hover {
    background-image: url(images/MyGlassesLogo2.jpg);
    position: center;
    background-size: 600px;
    width: 600px;
    height: 300px;
  
}
h1 {
    color: red;
    text-shadow: 20px 20px blue;
    font-size: 75px;
}
h1:hover {
    color: red;
    font-size: 75px;
    text-shadow: 3px 3px blue;
     
}

h3 {
    color: blue;
    font-size: 40px;
}

/*flex*/
#about {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
}
li {
    padding: 0px 50px 0px 50px;\
    flex: 1;

}

#about_me {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    background-color: #EBEBEB;
    min-width: 100vh;
    min-height: 100vh;
}
p {
    padding: 0px 100px 0px 100px;
}
#projects {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    min-width: 100vh;
}

#social_icons {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    min-width: 100vh;
    min-height: 100vh;
}

#socials {
    
    font-size: 10em;
    width: 100vh;
    display: flex;
    justify-content: space-between;

}

/*CSS for contact form*/


.contact_div {
    min-width: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;   
}

.form {
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid blue;
    padding: 30px;
}
.form:hover {
    box-shadow: 0 0 0 2pt red;
}

#homescreen{
    height: 100vh;
}

label {
    color: red;
    font-size: 30px;
    text-shadow: 3px 3px blue;
    padding: 30px;
}

input {
    margin: 30px;
    padding: 20px;
}

/*projects cards*/

.card {
    width: 300px;
    height: 400px;
    border: 1px solid red;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-header {
    color: blue;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid red;
    padding: 5px 10px;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}



.main-description {
    color: blue;
    text-align: center;
    font-size: 12px;
    font-weight: 20;
    padding: 5px 10px;
}

.projects {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card-img {
    max-width: 300px;
    max-height: 250px;
}

.card:hover {
    box-shadow: 0 0 0 2pt blue;
}